<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button Href=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form [formGroup]="produtosForm" (submit)="enviar()">
  <ion-item>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input formControlName="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor:</ion-label>
    <ion-input formControlName="valor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade:</ion-label>
    <ion-input formControlName="quantidade"></ion-input>
  </ion-item>

  <ion-button color = "dark" type="submit" routerLink="/home">Send</ion-button>
</form>

<ion-item *ngFor="let arrayProdutos of arrayProdutos">
  <ion-label>
    {{ arrayProdutos.nome}}
  </ion-label>
</ion-item>

</ion-content>
