@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

*{
  padding: 10;
  margin: 10;
}

ion-title {
  font-family: '', Arial;
  font-weight: 800;
  margin-left: 50px;
}

ion-button {
  font-family: '', sans-serif;
  font-size: 15px;
  width: 100px;
  height: 35px;
}

div {
  margin-left: 10px;
  margin-top: 40px;
}